html { /* add background-color, and image(make sure it doesn't repeat) */
  background-color: #E0E8FF;
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
}

body {
  font-family: 'Red Hat Display', sans-serif;    /* change font to match template */
}

p {
  font-size: 16px;
  font-weight: 400;    /* make bold */
  margin-right: 30px;
  margin-left: 30px;
}

footer {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}

.grey-text {
  color: #9096A6;         /* grey color to match template */
}

.btn {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;                             /* match active state to template *//*  */
  font-family: 'Red Hat Display', sans-serif;   /* change font to match template */
  font-weight: 500;
}

.plan {
  display: flex;
  background-color: #F8F9FE;
  border-radius: 15px;
  margin: 30px 30px;
  padding: 25px;
}

#banner {
  width: 400px;
  display: flex;
  justify-content: center;
  border-top-left-radius: 15px;          /* round corner */
  border-top-right-radius: 15px;         /* round corner */
}

#title {
  font-weight: 900;
  font-size: 30px;
}

#plan-title {
  font-weight: 700;
  margin: 0;
}

#container {
  background-color: white;
  border-radius: 15px;
  width: 400px;
  margin: 80px auto 0 auto;
  text-align: center;
}

#music {
  width: 50px;
  margin: 0;
  padding: 0;
}

#music-div {
  display: flex;
  align-self: center;
}

#plan-type {
  margin: 0;
  padding-right: 20px;
}

#price {
  margin: 0;
  padding: 0;
}

#change-btn {
  border: none;
  background-color: #F8F9FE;
  font-size: 16px;
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
}

#change-btn:hover {
  color: #766CF1;
  text-decoration: none;
}

#change-div {
  display: flex;
  align-self: center;
}

#proceed-payment-btn {
  background-color: hsl(245, 75%, 52%);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  padding: 10px 105px;
  box-shadow: 0 16px 10px hsl(240,66%,92%);
}

#proceed-payment-btn:hover {
  background-color: #766CF1;
}

#cancel-btn {
  border: none;
  background-color: white;
  margin-top: 25px;
  margin-bottom: 50px;
  font-size: 14px;
  font-weight: 700;
}

#cancel-btn:hover {
  color: #465066;
}
